.subheading {
	color: #767676;
}

ul.ul-alert li a {
	color: #fff;
	line-height: 26px;
	font-size: 1.2em;
}

#chart_div4 th, #chart_div5 th, #chart_div6 th, #chart_div7 th, #chart_div8 th, #chart_div9 th, #chart_div10 th,
#chart_div11 th, #chart_div12 th, #chart_div13 th, #chart_div14 th, #chart_div15 th, #attendance_table_div th,
#unique_attendance_table_div th {
	width: 120px;
	padding: 10px;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	font-family: arial;
}

#chart_div4 td, #chart_div5 td, #chart_div6 td, #chart_div7 td, #chart_div8 td, #chart_div9 td, #chart_div10 td,
#chart_div11 td, #chart_div12 td, #chart_div13 td, #chart_div14 td, #chart_div15 td, #attendance_table_div td, 
#unique_attendance_table_div td {
	width: 120px;
	padding: 10px;
	font-weight: bold;
	margin-bottom: 16px;
	text-align: center;
	font-size: 16px;
	font-family: arial;
}