.subheading {
	color: #767676;
}

.footer {
	background-color: #149c82;
	padding-bottom: 10px;
	padding-top: 15px;
	line-height: 0px;
	width: 100%;
	opacity: 0.85;
	margin-top: 20px;
}

.footer p {
	color: #fff;
	text-shadow:  1px #36454f;
	font-size: 16px;
}

.footer p a {
	color: #AEEEEE;
	text-shadow:  1px #36454f;
	font-size: 16px;
}

#chart_div4 th, #chart_div5 th, #chart_div6 th, #chart_div7 th, #chart_div8 th, #chart_div9 th, #chart_div10 th,
#chart_div11 th, #chart_div12 th, #chart_div13 th, #chart_div14 th, #chart_div15 th, #attendance_table_div th,
#unique_attendance_table_div th, #unique_demographics_table_div th, #volunteer_attendance_div th, #unique_volunteer_div th,
#volunteer_demographics_div th, #col_chart_div1 th, #col_chart_div2 th, #col_chart_div3 th, #col_chart_div4 th, #col_chart_div5 th, 
#col_chart_div6 th, #col_chart_div7 th, #col_chart_div8 th, #col_chart_div9 th, #col_chart_div10 th, #col_chart_div11 th, 
#col_chart_div12 th, #table_div1 th, #table_div2 th, #table_div3 th, #table_div4 th, #table_div5 th, #table_div6 th {
	width: 110px;
	padding: 8px;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	font-family: arial;
}

#chart_div4 td, #chart_div5 td, #chart_div6 td, #chart_div7 td, #chart_div8 td, #chart_div9 td, #chart_div10 td,
#chart_div11 td, #chart_div12 td, #chart_div13 td, #chart_div14 td, #chart_div15 td, #attendance_table_div td, 
#unique_attendance_table_div td, #unique_demographics_table_div td, #volunteer_attendance_div td, #unique_volunteer_div td,
#volunteer_demographics_div td, #col_chart_div1 td, #col_chart_div2 td, #col_chart_div3 td, #col_chart_div4 td, #col_chart_div5 td, 
#col_chart_div6 td, #col_chart_div7 td, #col_chart_div8 td, #col_chart_div9 td, #col_chart_div10 td, #col_chart_div11 td, 
#col_chart_div12 td, #table_div1 td, #table_div2 td, #table_div3 td, #table_div4 td, #table_div5 td, #table_div6 td {
	width: 110px;
	padding: 8px;
	font-weight: bold;
	margin-bottom: 16px;
	text-align: center;
	font-size: 16px;
	font-family: arial;
}

#attendance_table_div, #unique_attendance_table_div, #unique_demographics_table_div, #volunteer_attendance_div {
	margin-bottom: 20px;
}

.panel ul li a {
	color: #a3a3a3;
}

.panel:hover {
	box-shadow: 3px 3px #ccc;
}